html, body {
    height: 100%;
}

#container {
    position: relative;
    max-width: 600px;
    margin: auto;
    box-shadow:
        11px 0px 8px -10px #ACACAC,
        -11px 0px 8px -10px #ACACAC;
    min-height: 100%;
}

#header {
    padding: 10px;
}

#header.day {
    background-color: #A2F6FF;
    color: black;
}

#header.night {
    background-color: #032684;
    color: white;
}

#header > h1 {
    margin-top: 0;    
}

#custom-header-buttons > button {
    margin-right: 1em;
}

#players > div {
    padding: 10px;
    border-top : 2px groove #B1B1B1;
    position: relative;
}

#players > div:first-child {
    border-top: 0px;
}

#players > div:last-child {
    border-bottom: none;
}

#players > div.active {
    background-color: #ADFF84;
}

#players > div.dead {
    color: #808080;
}

#players .player-name {
    font-weight: bold
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0 , 0.3);
    z-index: 100;
    display: none;
}

#players > div.dead > .overlay {
    display: block;
}

#menu-btn {
    top: 10px;
    right: 10px;
    position: absolute;
}

#menu-modal .modal-footer a {
    margin-right: 15px;
}

#player-list, #role-list {
    margin-top: 15px;
}

#role-list input[type=number] {
    width: 40px;
}

#player-list > table {
    margin: 0;
}

.role-count-error {
    color: red !important;
}

/*### Tags ###*/
.tag-party, .tag-detected-parent {
    background-color: #D3D3D3;
}

.party-citizen .tag-party, .detected-citizen .tag-detected {
    color: #5CB85C;
}

.party-mafia .tag-party, .detected-mafia .tag-detected {
    color: #D9534F;
}

.tag-guarded, 
.tag-kill,
.tag-nominated-parent,
.tag-unrevealed {
    display: none;
}

#players>div.kill .tag-kill, 
#players>div.nominated .tag-nominated-parent, 
#players>div.unrevealed .tag-unrevealed, 
#players>div.guarded .tag-guarded {
    display: inline;    
}